<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<footer class="footer">
  <div class="container bottom_border">
  <div class="row">
  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">A propos<hr class="hr1"><hr class="hr2"></h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc" style="margin-left: -30px;">
  <li>Qui sommes-nous</li>
  <li>Loyalty deal</li>
  <li> Conditions générales de vente</li>
  <li>Contactez-nous</li>

  </ul>
  </div>


  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2" >Service client  et Livraison<hr style="width: 25%;"><hr style="width: 45%;"></h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc" style="margin-left: -30px;">
  <li >Service client</li>
  <li >Livraison</li>
  <li >Politique d'échange</li>

  </ul>
  <!--footer_ul_amrc ends here-->
  </div>


  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Contacter nous <hr style="width: 25%;"><hr style="width: 45%;"></h5>
  <!--headin5_amrc-->
  <ul class="footer_ul_amrc" style="margin-left: -30px;">
  <li>Appelez nous</li>
  <li style="color: #FF5330; font-size: 140%;"><strong style="font-weight: 700;">22 578 815</strong></li>
  <li>Rue du lac leman, immeuble </li>
  <li> MakCrown, 1 étage les berges </li>
  <li>du lac, tunis 1053</li>
  </ul>
  <!--footer_ul_amrc ends here-->
  </div>


  <div class=" col-sm-4 col-md  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Suivez-nous<hr style="width: 20%;"> <hr style="width: 40%;"></h5>
  <!--headin5_amrc ends here-->

  <ul class="footer_ul2_amrc">
  <li>
    <img src="assets\image\face.png" style="width:15%;margin-left: -4%;">
    <img src="assets\image\insta.png"  style="width:9%;">
    <img src="assets\image\you.png"  style="width:10%;margin-left: 3%;">

  </li>
  <li>
    <img src="assets\image\google.png"  style="width:30%;margin-left: 3%;">
    <img src="assets\image\google1.png"  style="width:28%;margin-left: 3%;">

  </li>
  </ul>
  <!--footer_ul2_amrc ends here-->
  </div>
  </div>
  </div>
  <div class="container-fluid" style="  background-color:#FF5330;height: 50px;padding-bottom: 0%;">
  <div class="foote_bottom_ul_amrc" style="background-color:#FF5330;">
  <p class="text-center" style="font-stretch:expanded;margin-top: 3%; color: white; font-size: large; font-family: poppins,bold;">360 TN 2022 © Tous droits réservés</p>

  </div>

  </div>

  </footer>
</body>
</html>
