<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<p style="margin-top: 5%; margin-left: 10%;font-stretch: expanded; color: #2B2B68; font-family: poppins,bold; font-weight: 650; font-size: 200%;"> Top Catégories</p>
<div class="container-fluid" style=" padding-left:2px;border: none;">
  <div class="card mb-3" style="border: none; max-width: 2000px;">
    <div class="row g-0">
      <div class="col-md-4"style="padding-left:3%;">
        <div class="card-body body">
          <img src="assets\image\image1.png" class="img-fluid T" alt="...">
          <div class="card card1">
          </div>
          <div class="content" style="position: absolute;">
             <p style="font-size:200%; font-family: poppins,bold; color: #2B2B68; font-weight:700; margin-left: -10%;"> Décoration</p>
            <a href="#" class="btn btn-primary bouton" style="font-family:poppins,bold;margin-left:15%; ">Voir plus</a>
          </div>
          </div>
    </div>
      </div>
      <div class="col-md-8 F" style="padding-left:3.5%;">
        <img src="assets\image\image2.png" class="img-fluid ml m k" >
        <img src="assets\image\image3.png" class="img-fluid  m l" alt="...">
        <img src="assets\image\image4.png" class="img-fluid ml m n" alt="...">
</div>
  </div>
</div>
</body>
</html>
