<div class="container">
  <!-- <a class="btn btn-primary m-4" id="addFoodProductLink" data-toggle="modal" href="#addFoodProductModal">Add</a> -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Density (g/ml)</th>
        <th scope="col">Calories</th>
        <th scope="col">Proteins</th>
        <th scope="col">Fats</th>
        <th scope="col">Carbs</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let product of foodProducts; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.foodType }}</td>
          <td>{{ product.nutrition.density }}</td>
          <td>{{ product.nutrition.kcal }}</td>
          <td>{{ product.nutrition.protein }}</td>
          <td>{{ product.nutrition.fat }}</td>
          <td>{{ product.nutrition.carbs }}</td>
          <td><button class="btn btn-primary"  (click)=deleteFoodProduct(product.id)></button></td>
        </tr>
      </ng-container>
      <!-- <c:forEach var="product" items="${foodProducts}" varStatus="status">
      <tr>
        <th>${status.index+1 }</th>
        <td>${product.name} </td>
        <td>${product.foodType.label}</td>
        <td>${product.nutrition.density}</td>
        <td>${product.nutrition.kcal}</td>
        <td>${product.nutrition.protein}</td>
        <td>${product.nutrition.fat}</td>
        <td>${product.nutrition.carbs}</td>
        <td><a href="">Remove</a></td>
<%-- 					<td><a href="deleteFoodProduct?id=${product.id}">Pašalinti</a></td> --%>
      </tr>
    </c:forEach> -->
    </tbody>
  </table>
  <!-- <a>Add New Food Product</a>
  <form name="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name"
      [(ngModel)]="form.name" required minlength="3" maxlength="20"
      #name="ngModel"/>
      </div>
      <div class="form-group">
        <label for="foodType">Category</label>
        <input type="text" class="form-control" name="foodType"
        [(ngModel)]="form.foodType"
        #foodType="ngModel"/>
        </div>
        <div class="form-group">
          <label for="desnity">Density</label>
          <input type="text" class="form-control" name="density"
          [(ngModel)]="form.nutrition.desnity"
          #density="ngModel"/>
          </div>
          <div class="form-group">
            <label for="kcal">Calories</label>
            <input type="text" class="form-control" name="kcal"
            [(ngModel)]="form.nutrition.kcal"
            #kcal="ngModel"/>
            </div>
            <div class="form-group">
              <label for="protein">Proteines</label>
              <input type="text" class="form-control" name="protein"
              [(ngModel)]="form.nutrition.protein"
              #protein="ngModel"/>
              </div>
            <div class="form-group">
              <label for="fat">Fat</label>
              <input type="text" class="form-control" name="fat"
              [(ngModel)]="form.nutrition.fat"
              #fat="ngModel"/>
              </div>

                <div class="form-group">
                  <label for="carbs">Carbs</label>
                  <input type="text" class="form-control" name="carbs"
                  [(ngModel)]="form.nutrition.carbs"
                  #carbs="ngModel"/>
                  </div>
                  <div class="form-group">
                    <input class="btn " value="Add New Food Product" type="submit">
                  </div>

  </form>
</div> -->

<!-- <div class="modal fade" id="addFoodProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a product to the system:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">




        <form:form action="addFoodProduct" cssClass="form-horizontal"
    method="post" modelAttribute="foodProduct" enctype="multipart/form-data">
          Pavadinimas
          <form:input type="text" class="form-control" path="name" required="true"/>
          Kategorija:
          <form:select class="form-control" path="foodType" required="true">
          <form:options items="${foodTypes}" itemLabel="label" />
      </form:select>
      Tankis (g/ml):
      <form:input type="number" class="form-control" min="0" step="0.01" path="nutrition.density" required="true"/>
      Kalorijos:
      <form:input type="number" class="form-control" min="0" step="0.1" path="nutrition.kcal" required="true"/>
      Baltymai:
      <form:input type="number" class="form-control" min="0" step="0.1" path="nutrition.protein"/>
      Riebalai:
      <form:input type="number" class="form-control" min="0" step="0.1" path="nutrition.fat"/>
      Angliavandeniai:
      <form:input type="number" class="form-control" min="0" step="0.1" path="nutrition.carbs"/>
      <form:button class="btn btn-primary"  type="submit">Išsaugoti</form:button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Atšaukti</button>
        </form:form>
      </div>
    </div>
  </div>
</div> -->
