
<div class=" container">
  <div class="row">
      <ng-container *ngFor="let item of products">
          <div class="card col-md-3">
            <button class="btn btn-primary" style="width:12%; margin-top:4%; margin-left:90%;font-size: x-small; border-radius:50%;border: #FF5330; background-color: #FF5330;" ><div style="margin-left: -58% ;margin-top:30%;"><i class="bi bi-heart fa-xl"></i></div></button>
            <img  src="{{item.image}}" alt="">
              <hr style="position: absolute;margin-top: 90%; width: 85%; border: 0.5px solid; margin-left: 4%; color: grey;">
              <p class="nom"> <strong>{{item.nom}}</strong></p>
              <p >{{item.marque}}</p>
              <p class="price"><strong>{{item.prix}} DTN</strong> </p>
              <button class="btn btn-primary" style= "margin-top: -17%; margin-left: 80%; width: 20%;border:#2B2B68; background-color:#2B2B68 ;border-radius: 0%; size: 2% ;padding:0%; width: 13% ;color: white ;" (click)=addtocart(item)><i class="bi bi-cart3 fa-2xm	"></i></button>
          </div>
      </ng-container>

  </div>
</div>
