<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<p style="margin-top: 5%; margin-left: 10%;font-stretch: expanded; color: #2B2B68; font-family: poppins,bold; font-weight: 650; font-size: 200%;"> Recettes et Conseils</p>
<div class="container-fluid" style=" padding-left:2px;border: none;">
  <div class="card mb-3" style="border: none; max-width: 2000px;">
    <div class="row g-0">
      <div class="col-md-4"style="padding-left:3%;">
        <div class="card-body body">
          <h5 class="card-title" style="font-weight: 600; color: #FF5330; font-family: poppins, bold; text-align: justify; font-size: 150%; margin-bottom: 10%;">Commencer<br> à manger healthy</h5>
          <p class="card-text" style="font-weight:100;font-size: large; font-family:poppins, normal;color:#2B2B68 ;">l y a parfois des moments où l’on
            souhaite se reprendre en main et
            cela passe souvent par une meilleure
            alimentation. Mais il peut être difficile
            de savoir par où commencer lorsque
            nous n’y sommes pas habitués.</p>
    </div>
      </div>
      <div class="col-md-8" style="padding-left:3.5%;">
        <img src="assets\image\plat1.png" class="img-fluid m " >
        <img src="assets\image\plat2.png" class="img-fluid m" alt="...">
        <img src="assets\image\plat3.png" class="img-fluid m" alt="...">
        <img src="assets\image\plat4.png" class="img-fluid m" alt="...">
        <img src="assets\image\plat5.png" class="img-fluid T" alt="...">
        <div class="card card1">

        </div>
        <div class="content" style="position: absolute;">
           <p style="font-size:150%; font-family: poppins,bold; color: #2B2B68; font-weight:700; margin-left: -20%;"> Riz sauté aux légumes</p>
          <a href="#" class="btn btn-primary bouton" style="font-family:poppins,bold; ">Voir recette</a>
        </div>
        </div>
</div>

  </div>
</div>
</body>
</html>
