<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<p style=" margin-bottom: 2.5%;margin-top: 5%; margin-left: 10%;font-stretch: expanded; color: #2B2B68; font-family: poppins,bold; font-weight: 650; font-size: 200%;"> Catégories</p>
<section class="categorie" >
  <div claas="container-fluid" >

    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
          <img src="assets\image\img.png">
          <div class="text">Animaux</div>
        </div>
        <div class="item">
          <img src="assets\image\img1.png">
          <div class="text">jardin, Auto, Brico</div>
        </div>
        <div class="item">
          <img src="assets\image\img2.png">
          <div class="text">Hightech, Audio,TV,téléphonie</div>
        </div>
        <div class="item">
        <img src="assets\image\img3.png">
        <div class="text">Tout pour bébé</div>
        </div>
        <div class="item">
          <img src="assets\image\img4.png">
          <div class="text">Eléctromanager, Cuisine</div>
        </div>
        <div class="item">
          <img src="assets\image\img5.png">
          <div class="text">Jouest, JV, Loisirs</div>
        </div>
        <div class="item">
          <img src="assets\image\alimentation.png">
          <div class="text">Alimentations</div>
        </div>
      </div>
         <div class="button-area">
           <a class="btn" class="prev" appPrev><i class="bi bi-chevron-left fa-4x"></i></a>
           <a class="btn" class="next" appNext><i class="bi bi-chevron-right fa-4x"></i></a>
         </div>
    </div>
  </div>
</section>


</body>
</html>
