<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
  <h3>Panier<div style="color: #2B2B68;margin-top: -2%;margin-left: -12%;" > <i style ="margin-top: -10%; margin-left: 58%; color: #2B2B68;"class="fa-solid fa-truck fa-2ms"></i> <p style="margin-top:-2.3%;font-size: 50%;margin-left: 61%;">Livraison standard <br>Gratuite sous 3 à 6 jours ouvrés</p>
    <div style="margin-top: -53px;margin-left: 10%;"> <i style =" color: #2B2B68; margin-left: 80%; margin-top: -83px;" class="fa-solid fa-truck-fast fa-2ms"></i><p style="font-size: 50%;margin-left: 83% ;margin-top:-2.5%;">Express delivery<br> 10,00 TND available</p>
    </div></div></h3></div>

  <ng-container *ngIf="products.length !=0">
  <div class="row">
    <div class="col-sm-6">
            <div class="card-table" *ngFor="let item of products ; let i = index">
                <div class="cart-product" >
                      <table class="table table-responsive">
                          <tbody>
                                <td ><img style="max-width: 100px; position: absolute;margin-top: 1%;margin-bottom: 5% ;"src="{{item.image}}" alt=""></td>
                                  <td><p style="margin-left: -1%;position: absolute; color: #2B2B68; font-weight: 700; font-family: poppins,bold;margin-top: 1%; ">{{item.nom}} /*{{item.quantite}}</p><br>
                                  <a href="#" class="btn btn-primary" style="margin-left: -1%;position: absolute; width:20%;border-radius:0%;margin-top: 10%; background-color:#2B2B68;border: #2B2B68;" (click)="removeItem(item)"><i class="bi bi-trash3" style="margin-left: -20%; padding-right:6%;"></i>Supprimer</a><br>
                                  </td>
                              <td> <p style="font-size:20px;margin-top: 3%; position: absolute ;margin-left: 21%;color: #2B2B68; font-weight: 600; font-family: poppins,bold;">{{item.total}}TND</p></td>
                              <td> <p style="font-size:20px;margin-top: 6%; position: absolute ;margin-left:-4%;color: #FF5330; font-weight: 600; font-family: poppins,bold;">Gagner 0.2%</p></td>


                          </tbody>
                      </table>
                    </div>

      </div>
    </div>
<div class="container-fluid" style="margin-bottom:20rem;position: absolute;">
      <div class="col-sm-6  "style="margin-left:60%; margin-top:0% ;height:40rem;">

          <div class="card-table" style="border: 1px solid #2B2B68;margin-top: -0.1%;border-radius: 0%; width:65%;max-width: 120%;">
              <tr>
                <td colspan="4"></td>
                <div style="margin-left: 5%; color: hsl(240, 41%, 29%); font-weight: 600; font-family: poppins,bold; font-size: x-large; margin-top: 5%;"> Sous-Total  </div>
                <div style="color:#FF5330; font-weight: 600; font-family: poppins,bold; margin-left: 70%;margin-top: -6.5%;font-size: x-large;">{{grandTotal}} TND </div>

           <div style="margin-left: 5%; color:rgb(172, 171, 171); font-weight: 400; font-family: poppins,bold; font-size: large; margin-top: 5%;"> Frais de Livraison  </div>
                <div style="margin-top:15% ;margin-left:25%; margin-bottom: 13.8%;">
                <td><button class="btn btn-success" style="background-color:#FF5330; border:#FF5330; border-radius:0%;width:150%;">Valider la commande</button></td><br>
                <td><button (click)="emptycart()" class="btn btn-danger"style="background-color:#2B2B68; border:#FF5330; border-radius:0%; width:178%">Vider mon panier</button></td><br>
                  </div>


              </tr>
          </div>
      </div>
      </div>

  </div>
  <div class="card" style="margin-top: 8%;"></div>
</ng-container>

<ng-container *ngIf="products.length ==0">
  <div class="container">
      <div class="card">
          <h5 class="card-title">Panier</h5>
      </div>
      <div class="center" style="margin-top: 10%;">
          <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
          <h4>Votre Panier est vide</h4>
          <h6>Ajouter un produit </h6>
          <button routerLink="/products" class="btn btn-primary">Shop Now</button>
      </div>
  </div>
</ng-container>
</body>
</html>
