<section class="recipe mt-5 mb-5">
    <div class="container recipe">
        <div class="row">
            <div class="col-lg-2 col-sm-3 list-user-item  d-flex gap-2  ">
                <img src="../../assets/image/mohamed.jpg" alt="twbs" width="40" height="40" class="rounded-circle flex-shrink-0">
                <div class="d-flex gap-2 w-60 justify-content-between mt-1 recipe-owner-bloc">
                    <div>
                        <p class="mb-0 recipe-owner  ">Mohamed</p>
                        <p class="mb-0 opacity-75">15 March 2022</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 list-user-item  d-flex gap-2 ">
                <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                <div class="d-flex gap-2 w-60 justify-content-between mt-1 recipe-owner-bloc">
                    <div>
                        <p class="mb-0 recipe-owner  ">PREP TIME</p>
                        <p class="mb-0 opacity-75">15 Minutes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 list-user-item  d-flex gap-2 ">
                <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                <div class="d-flex gap-2 w-60 justify-content-between mt-1 recipe-owner-bloc">
                    <div>
                        <p class="mb-0 recipe-owner  ">COOK TIME</p>
                        <p class="mb-0 opacity-75">15 Minutes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 list-user-item  d-flex gap-2 justify-content-between w-80">
                <img src="../../assets/image/eat-solid.png" alt="twbs" width="19" height="19"
                    class="rounded-circle flex-shrink-0 mt-2">
                <div class="d-flex gap-2 w-60 justify-content-between mt-2 recipe-owner-bloc">
                    <div>
                        <p class="mb-0 opacity-75  ">Chicken</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 list-user-item  d-flex gap-2 mt-1">
                <span class="d-flex mt-2"><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                        aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                        class="fa fa-star-half-o" aria-hidden="true"></i></span>
                <div class="d-flex gap-2 w-60 justify-content-between mt-2 recipe-owner-bloc">
                    <div>
                        <p class="mb-0 opacity-75  ">Avis</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 list-user-item  d-flex gap-2 ">
                <div class="d-flex gap-2 w-60 justify-content-between mt-2 r">
                    <div class="mt-1">
                        <p class="mb-0 opacity-75  ">1 Personne</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row ">
            <div class="col-lg-8 col-sm-12 mt-5">
                <img src="../../assets/image/recipe-img2.jpg" class="recipe-image img-fluid" width="840px" height="500px ">
            </div>
            <div class="col-lg-4 col-sm-12 recipe-details mt-5">
                <h5 class="mt-4 text-center ">Ajouter au panier</h5>
                <div class="mt-4">
                    <div class=" d-flex gap-5 details-txt ">
                        <p class="col-8">Nombre de personne</p><span></span>
                        <p class="col-4">1</p>
                    </div>
                    <h4 class="mb-3 recipe-info mt-4">Information nutritionnelle</h4>
                    <div class=" d-flex gap-5  details-txt " >
                        <p class="col-8">Calories</p>
                        <p class="col-4">219.9 kcal</p>
                    </div>
                    <div class=" d-flex gap-5 details-txt">
                        <p class="col-8">Graisse totale</p>
                        <p class="col-4">10.7g</p>
                    </div>
                    <div class=" d-flex gap-5 details-txt">
                        <p class="col-8">Protein</p>
                        <p class="col-4">7.9g</p>
                    </div>
                    <div class=" d-flex gap-5 details-txt">
                        <p class="col-8">Glucides</p>
                        <p class="col-4">22.3g</p>
                    </div>
                    <div class=" d-flex gap-5 details-txt">
                        <p class="col-8">Cholestérol</p>
                        <p class="col-4">37.4mg</p>
                    </div>
                    <p class="text-center mt-5  ">adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua</p>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas illo, suscipit animi, sint unde
                doloremque architecto inventore saepe consequatur, autem obcaecati? Doloremque iusto ad
                necessitatibus dicta! Corporis officiis magni saepe?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae expedita repellat placeat.
                Tempore ex, odio non iusto id natus nam delectus cum, quibusdam soluta dolorum vel ullam obcaecati
                officiis magnam!
            </div>

        </div>
        <div >
            <div class="row mt-5"> 
                <div class="col-lg-8 col-sm-12">
                    <h2>Description</h2>
                    <div class="description">
                        <h4><i class="fa fa-circle-o opacity-25 desc-circle " aria-hidden="true"></i>1. Lorem, ipsum
                            dolor sit amet</h4>
                        <p class="text-justify desc-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Error quod doloremque sit neque
                            accusantium facilis quidem expedita dolor voluptatem exercitationem laboriosam
                            obcaecati,
                            optio excepturi hic quisquam voluptatum ut velit suscipit! >Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Error quod doloremque sit neque
                            accusantium facilis quidem expedita dolor voluptatem exercitationem laboriosam
                            obcaecati,
                            optio excepturi hic quisquam voluptatum ut velit suscipit!</p>
                        <img class="cook-img mt-3 desc-text img-fluid" src="../../assets/image/cook-2.jpg" width="90%" height="400px">
                        <p class="text-justify mt-5 desc-text">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Error quod doloremque sit neque
                            accusantium facilis quidem expedita dolor voluptatem exercitationem laboriosam
                            obcaecati,
                            optio excepturi hic quisquam voluptatum ut velit suscipit! >Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Error quod doloremque sit neque
                            accusantium facilis quidem expedita dolor voluptatem exercitationem laboriosam
                            obcaecati,
                            optio excepturi hic quisquam voluptatum ut velit suscipit!</p>
                    </div>
                    <div class="description mt-3">
                        <h4><i class="fa fa-circle-o opacity-25 desc-circle " aria-hidden="true"></i>2. Lorem, ipsum
                            dolor sit amet</h4>
                        <p class="text-justify  desc-text">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Error quod doloremque sit neque
                            accusantium facilis quidem expedita dolor voluptatem exercitationem laboriosam
                            obcaecati,
                            optio excepturi hic quisquam voluptatum ut velit suscipit! >Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Error quod doloremque sit neque
                            accusantium facilis quidem expedita dolor voluptatem exercitationem laboriosam
                            obcaecati,
                            optio excepturi hic quisquam voluptatum ut velit suscipit!</p>
                    </div>
                    <div class="description mt-3">
                        <h4><i class="fa fa-circle-o opacity-25 desc-circle " aria-hidden="true"></i>3. Lorem, ipsum
                            dolor sit amet</h4>
                        <p class="text-justify  desc-text">Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Error quod doloremque sit neque
                            accusantium facilis quidem expedita dolor voluptatem exercitationem laboriosam
                            obcaecati,
                            optio excepturi hic quisquam voluptatum ut velit suscipit! >Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Error quod doloremque sit neque
                            accusantium facilis quidem expedita dolor voluptatem exercitationem laboriosam
                            obcaecati,
                            optio excepturi hic quisquam voluptatum ut velit suscipit!</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12  ">
                    <h3>Autre</h3>
                    <div>
                        <div class=" list-autre-item  d-flex gap-2 mt-3 ">
                            <img src="../../assets/image/recipe-1.jpg" alt="twbs" width="60%" height="100px" class="rounded  autre-img">
                            <div class="d-flex gap-2 w-40 justify-content-between mt-1 ">
                                <div>
                                    <p class="mb-0 recipe-owner  ">Chicken MeatBall with Creamy Cheese</p>
                                    <p class="mb-0 opacity-75">By Andreas Paula</p>
                                </div>
                            </div>
                        </div>
                        <div class=" list-autre-item  d-flex gap-2 mt-3 ">
                            <img src="../../assets/image/recipe-2.jfif" alt="twbs" width="60%" height="100px" class="rounded autre-img">
                            <div class="d-flex gap-2 w-40 justify-content-between mt-1 ">
                                <div>
                                    <p class="mb-0 recipe-owner  ">THe Creamiest Creamy Chicken an</p>
                                    <p class="mb-0 opacity-75">By Andreas Paula</p>
                                </div>
                            </div>
                        </div>
                        <div class=" list-autre-item  d-flex gap-2 mt-3 ">
                            <img src="../../assets/image/recipe-3.jfif" alt="twbs" width="60%" height="100px" class="rounded autre-img">
                            <div class="d-flex gap-2 w-40 justify-content-between mt-1 ">
                                <div>
                                    <p class="mb-0 recipe-owner  ">The best Easy One Pot Chicken and Rice</p>
                                    <p class="mb-0 opacity-75">By Andreas Paula</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5" >
                        <img src="../../assets/image/Ads.png" width="100%" height="400px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
