
<section class="mt-5">
    <div class="deals-container">
      <div class="deals-promo">
        <h1 style="font-weight: bold">PRIME PROMO</h1>
        <h2 style="padding-top: 3%">
          Challenge Multi <span style="color: #ff5330">Deals</span><br />
          &Discounts
        </h2>
        <div class="deals-promo-details">
          <p>
            Jusqu'à
            <span style="font-size: 45px">100DT</span> d'économies<br />
            par mois sur vos marques préférées <br /><span
              class="deals-promo-date"
              >DU <span style="font-weight: bold">16</span> FEVRIER AU
              <span style="font-weight: bold">31</span> MARS</span
            >
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="deals-details">
    <div class="deals-details-images">
      <div class="bloc-images">
        <img class="" src="../../assets/image/delice.jpg" width="110px" />
        <img class="" src="../../assets/image/danone.jpg" width="110px" />
        <img class="" src="../../assets/image/sicam.png" width="110px" />
        <img class="" src="../../assets/image/said.png" width="110px" />
      </div>
    </div>
    <div class="container deals-steps">
      <h2>Comment Ça Marche</h2>
      <div class="row mt-4">
        <div class="col-lg-4">
          <img src="../../assets/image/step-1.png" width="350px" />
          <h5 class="fw-normal text-center mt-4">Sélection des DEALS</h5>
          <p>
            Le client sélectionne X défis parmi les Y qui lui sont proposés.
            Chaque Deal correspond à un objectif à atteindre sur une période
            bien déterminée
          </p>
        </div>
        <div class="col-lg-4">
          <img src="../../assets/image/step-2.png" width="350px" />
          <h5 class="fw-normal text-center mt-4">Achat des produits</h5>
          <p>
            Le client sélectionne X défis parmi les Y qui lui sont proposés.
            Chaque Deal correspond à un objectif à atteindre sur une période
            bien déterminée
          </p>
        </div>
        <div class="col-lg-4">
          <img src="../../assets/image/step-3.png" width="350px" />
          <h5 class="fw-normal text-center mt-4">Récompenses</h5>
          <p>
            Le client aura sa récompense dans une cagnotte pour chaque deal
            gagné A la fin de la période, le client utilisera sa cagnotte pour
            son prochain achat
          </p>
        </div>
      </div>
      <div class="row deals-counter mt-5">
        <div class="col-lg-3 col-sm-12 jackpot">
          <img
            src="../../assets/image/icon-1.png"
            width="50px"
            class=""
            style="margin-top: -8%; margin-left: 5%"
          />
          <h1 class="text-center">0TND</h1>
          <p class="text-center">
            Je gagne des <span style="font-weight: bold">0TN</span>
          </p>
        </div>
        <div class="col-lg-5 col-sm-12 counterdown">
          <img
            src="../../assets/image/icon-2.png"
            width="50px"
            class=""
            style="margin-top: -13%; margin-left: 5%"
          />
          <h6 class="text-center">Vos challenges se terminent dans</h6>
          <div id="flipdown" class="flipdown"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="deals-user mb-5">
    <div class="deals-user-container">
      <div class="container py-4">
        <h4 class="text-center d">Vous Avez Sélectionnez 0/10 Deals</h4>
        <div class="deals-marque row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 text-center gap-5 mt-4">
          <div class="col-lg-2 deals-box">
            <p class="text-center mt-3">Gagner 5 TND</p>
            <img src="../../assets/image/delice.jpg" width="110px" class="mt-3" />
            <div class="deals-pr d-flex justify-content-between">
              <button class="deals-btn" type="submit">Sélectionner</button>
              <div class="promo">
                <p>-20%</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 deals-box">
            <p class="text-center mt-3">Gagner 5 TND</p>
            <img src="../../assets/image/danone.jpg" width="110px" class="mt-3" />
            <div class="deals-pr d-flex justify-content-between">
              <button class="deals-btn" type="submit">Sélectionner</button>
              <div class="promo">
                <p>-20%</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 deals-box">
            <p class="text-center mt-3">Gagner 5 TND</p>
            <img src="../../assets/image/sicam.png" width="110px" class="mt-3" />
            <div class="deals-pr d-flex justify-content-between">
              <button class="deals-btn" type="submit">Sélectionner</button>
              <div class="promo">
                <p>-20%</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 deals-box">
            <p class="text-center mt-3">Gagner 5 TND</p>
            <img src="../../assets/image/said.png" width="110px" class="mt-3" />
            <div class="deals-pr">
              <button class="deals-btn" type="submit">Sélectionner</button>
              <div class="promo">
                <p>-20%</p>
              </div>
            </div>
          </div>
          <div class="col-lg-2 deals-box mt-0">
              <p class="text-center mt-3">Gagner 5 TND</p>
              <img src="../../assets/image/delice.jpg" width="110px" class="mt-3" />
              <div class="deals-pr d-flex justify-content-between">
                <button class="deals-btn" type="submit">Sélectionner</button>
                <div class="promo">
                  <p>-20%</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 deals-box mt-0">
              <p class="text-center mt-3">Gagner 5 TND</p>
              <img src="../../assets/image/delice.jpg" width="110px" class="mt-3" />
              <div class="deals-pr d-flex justify-content-between">
                <button class="deals-btn" type="submit">Sélectionner</button>
                <div class="promo">
                  <p>-20%</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 deals-box mt-0">
              <p class="text-center mt-3">Gagner 5 TND</p>
              <img src="../../assets/image/delice.jpg" width="110px" class="mt-3" />
              <div class="deals-pr d-flex justify-content-between">
                <button class="deals-btn" type="submit">Sélectionner</button>
                <div class="promo">
                  <p>-20%</p>
                </div>
              </div>
            </div>
            <div class="col-lg-2 deals-box mt-0">
              <p class="text-center mt-3">Gagner 5 TND</p>
              <img src="../../assets/image/delice.jpg" width="110px" class="mt-3" />
              <div class="deals-pr d-flex justify-content-between">
                <button class="deals-btn" type="submit">Sélectionner</button>
                <div class="promo">
                  <p>-20%</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
