<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card card1">
      <div class="card-body body1">
        <button href="#" class="menu" id="primary" checked><p  style=" margin-top: 2%" ><i  class="bi bi-person bi1"></i>Votre compte 360 tn</p></button><br>
        <button href="#" class="menu" id="primary"  autocomplete="off"><p style=" margin-top: 2%;"><i class="bi bi-box-arrow-in-down bi1"></i> Historique de commandes</p></button><br>
        <button href="#" class=" menu" id="primary" autocomplete="off"><p style=" margin-top: 2%;"><i class="bi bi-heart bi1"></i>Produits préférés</p></button><br>
        <button href="#" class="menu" id="primary" autocomplete="off"><p style=" margin-top: 2%;"><i class="bi bi-chat-dots bi1"></i>Communication préférence</p></button><br>
        <button href="#" class=" menu" id="primary" ><p style=" margin-top: 2%;"><i class="bi bi-gift bi1"></i>Vos crédit 360 tn</p></button>

      </div>
      <input
          class="btn btn-primary btn-lg deco" type="submit" value="Déconnexion" />
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card2">
      <div class="card-body">
        <h5 class="card-title" style="margin-top: 1%;margin-bottom: 2%;">Historique de commandes <span style="margin-left: 35%;"> Du 01/01/2022 jusqu'à 31/03/2022</span></h5>
        <hr >
       <div class="commande" style="position: absolute;margin-top: 1%;">


         <div class="image">
         <img class="commande-img" style="width: 200px;" src="assets\image\laiit.png" >
        <div class="info">
         <p style="font-size: large; font-weight: 700;"> Lait Concentre Sucré Netlé / *1</p>
         <p> Vendeur : 360 tn</p>
         <p> Livraison : 7 DT</p>
         <p> Date de commande: 21/03/2022</p>
         <p style="margin-top: 1.5%;font-size: large; color: #FF5330;"> Commande en cours</p>
        </div>
        <div class="info2">
          <p style="font-size: 150%;margin-left: 15%; font-weight: 600;padding-bottom: 3%;"> 6,800 TND</p>
          <p style="padding-bottom: 3%; margin-top: 2%;font-size: large; color: #FF5330;"> Gagner : 0.2 TND</p>
          <a href="#" class="btn btn-primary" style="margin-left:10%; width:83%;border-radius:0%;margin-top: 6%; background-color:#2B2B68;border: #2B2B68;"><i class="bi bi-trash3" style="margin-left: -2%; padding-right:6%;"></i>Supprimer</a>
        </div>
        </div>

       </div>
      </div>
    </div>
  </div>
</div>
</div>

</body>
</html>
