<section class="container recipe-container mt-5">
    <div class="catrgories">
      <h1>Categories</h1>
      <div
        class="row row-cols-1 row-cols-sm-3 row-cols-md-6 g-5 text-center gap-5 text-center recipe-categories mt-2"
      >
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 29.png" width="100px" />
          <p>Health</p>
        </div>
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 30.png" width="100px" />
          <p>Tunisienne</p>
        </div>
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 31.png" width="100px" />
          <p>Boissons</p>
        </div>
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 32.png" width="100px" />
          <p>Dessert</p>
        </div>
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 33.png" width="100px" />
          <p>Entrees</p>
        </div>
        <div class="col-lg-2 col-sm-4 categorie">
          <img class="center" src="../../assets/image/Rectangle 34.png" width="100px" />
          <p>Plats</p>
        </div>
      </div>
    </div>

    <div class="recipes mt-5">
      <div class="recipe-title text-center">
          <h1>Des recettes simple</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore dolores, mollitia dolorem nesciunt doloremque vel</p>
      </div>
      <div class="all-recipes row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5  gap-5  mt-5">
          <div class="recipe-cart col-lg-3 col-sm-12">
              <span class="recipe-heart rounded-circle"><i class="fa fa-heart recipe-heart-icon" ></i></span>
              <img class="recipe-img" src="../../assets/image/burger.jfif" width="336px" height="200px">
              <h5 class="mt-4">Big and juicy Wagyu beef Cheeseburger</h5>
              <div class="d-flex gap-2 recipe-time mt-5">
                  <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                  <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                      <div>
                          <p class="mb-0 ">30 Minutes</p>
                      </div>
                  </div>
              </div>
              <div class="d-flex gap-2 recipe-type mt-5">
                  <img src="../../assets/image/eat-solid.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                  <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                      <div>
                          <p class="mb-0   ">Snack</p>
                      </div>
                  </div>
              </div>
          </div>
              <div class="recipe-cart col-lg-3 col-sm-12">
                  <span class="recipe-heart rounded-circle"><i class="fa fa-heart recipe-heart-icon" ></i></span>
                  <img class="recipe-img" src="../../assets/image/burger.jfif" width="336px" height="200px">
                  <h5 class="mt-4">Big and juicy Wagyu beef Cheeseburger</h5>
                  <div class="d-flex gap-2 recipe-time mt-5">
                      <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0 ">30 Minutes</p>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex gap-2 recipe-type mt-5">
                      <img src="../../assets/image/eat-solid.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0   ">Snack</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="recipe-cart col-lg-3 col-sm-12">
                  <span class="recipe-heart rounded-circle"><i class="fa fa-heart recipe-heart-icon" ></i></span>
                  <img class="recipe-img" src="../../assets/image/burger.jfif" width="336px" height="200px">
                  <h5 class="mt-4">Big and juicy Wagyu beef Cheeseburger</h5>
                  <div class="d-flex gap-2 recipe-time mt-5">
                      <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0 ">30 Minutes</p>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex gap-2 recipe-type mt-5">
                      <img src="../../assets/image/eat-solid.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0   ">Snack</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="recipe-cart col-lg-3 col-sm-12">
                  <span class="recipe-heart rounded-circle"><i class="fa fa-heart recipe-heart-icon" ></i></span>
                  <img class="recipe-img" src="../../assets/image/burger.jfif" width="336px" height="200px">
                  <h5 class="mt-4">Big and juicy Wagyu beef Cheeseburger</h5>
                  <div class="d-flex gap-2 recipe-time mt-5">
                      <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0 ">30 Minutes</p>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex gap-2 recipe-type mt-5">
                      <img src="../../assets/image/eat-solid.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0   ">Snack</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="recipe-cart col-lg-3 col-sm-12">
                  <span class="recipe-heart rounded-circle"><i class="fa fa-heart recipe-heart-icon" ></i></span>
                  <img class="recipe-img" src="../../assets/image/burger.jfif" width="336px" height="200px">
                  <h5 class="mt-4">Big and juicy Wagyu beef Cheeseburger</h5>
                  <div class="d-flex gap-2 recipe-time mt-5">
                      <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0 ">30 Minutes</p>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex gap-2 recipe-type mt-5">
                      <img src="../../assets/image/eat-solid.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0   ">Snack</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-12 healthy-food">
                  <img src="../../assets/image/Ads.png" width="336px" height="320px">
              </div>
              <div class="recipe-cart col-lg-3 col-sm-12">
                  <span class="recipe-heart rounded-circle"><i class="fa fa-heart recipe-heart-icon" ></i></span>
                  <img class="recipe-img" src="../../assets/image/burger.jfif" width="336px" height="200px">
                  <h5 class="mt-4">Big and juicy Wagyu beef Cheeseburger</h5>
                  <div class="d-flex gap-2 recipe-time mt-5">
                      <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0 ">30 Minutes</p>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex gap-2 recipe-type mt-5">
                      <img src="../../assets/image/eat-solid.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0   ">Snack</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="recipe-cart col-lg-3 col-sm-12">
                  <span class="recipe-heart rounded-circle"><i class="fa fa-heart recipe-heart-icon" ></i></span>
                  <img class="recipe-img" src="../../assets/image/burger.jfif" width="336px" height="200px">
                  <h5 class="mt-4">Big and juicy Wagyu beef Cheeseburger</h5>
                  <div class="d-flex gap-2 recipe-time mt-5">
                      <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0 ">30 Minutes</p>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex gap-2 recipe-type mt-5">
                      <img src="../../assets/image/eat-solid.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0   ">Snack</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="recipe-cart col-lg-3 col-sm-12">
                  <span class="recipe-heart rounded-circle"><i class="fa fa-heart recipe-heart-icon" ></i></span>
                  <img class="recipe-img" src="../../assets/image/burger.jfif" width="336px" height="200px">
                  <h5 class="mt-4">Big and juicy Wagyu beef Cheeseburger</h5>
                  <div class="d-flex gap-2 recipe-time mt-5">
                      <img src="../../assets/image/time.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0 ">30 Minutes</p>
                          </div>
                      </div>
                  </div>
                  <div class="d-flex gap-2 recipe-type mt-5">
                      <img src="../../assets/image/eat-solid.png" alt="twbs" width="19" height="19" class="rounded-circle flex-shrink-0 mt-2">
                      <div class="d-flex gap-2 w-60 justify-content-between mt-1 ">
                          <div>
                              <p class="mb-0   ">Snack</p>
                          </div>
                      </div>
                  </div>
              </div>

      </div>

      <div class=" mb-5 row row-cols-1 row-cols-sm-2 row-cols-md-2 g-5  gap-5 mt-5">
          <div class="health col-lg-5 col-sm-12">
              <h1>Vos questions à notre nutritionniste</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, deleniti voluptatum? Qui magni impedit in nulla explicabo labore repellat consequatur </p>
              <button type="submit" class="nutri-btn mt-3">Votre question</button>
          </div>
          <div class="col-lg-6 col-sm-12">
              <img src="../../assets/image/nutritionniste.jpg"  width="600px">
          </div>

      </div>
    </div>
  </section>
